<div class="text-center bottom-margined">
  <h2>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.input :email, label: false, placeholder: 'Email', autofocus: true, wrapper_html: { class: 'field' } %>
    <%= f.input :password, autocomplete: 'off', label: false, placeholder: 'Password (6 characters min)', wrapper_html: { class: 'field' } %>
    <%= f.input :password_confirmation, autocomplete: 'off', label: false, placeholder: 'Password confirmation', wrapper_html: { class: 'field' } %>
    <%= f.button :submit, 'Sign up' %>
  <% end %>
</div>
