<div class="text-center bottom-margined">
  <h2>Change your password</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <%= f.input :password, autofocus: true, autocomplete: 'off', label: false, placeholder: 'Password (6 characters min)', wrapper_html: { class: 'field' } %>
    <%= f.input :password_confirmation, autofocus: true, autocomplete: 'off', label: false, placeholder: 'Confirm new password', wrapper_html: { class: 'field' } %>
    <%= f.button :submit, 'Change my password', wrapper_html: { class: 'actions' } %>
  <% end %>
</div>
