<div class="text-center bottom-margined">
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email, placeholder: 'Email', autofocus: true, label: false %>
    <%= f.input :password, placeholder: 'Password', autocomplete: "off", label: false %>

    <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, inline_label: 'Remember me', as: :boolean %>
    <% end -%>

    <%= f.button :submit, 'Log in' %>
  <% end %>

  <%= render 'devise/shared/links' %>
</div>
